# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR Multiplayer Prototype.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Shadman\Documents\VR Multiplayer Prototype\.idea\.idea.VR Multiplayer Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
